<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container-fluid">
  <div class="tareas">
    <!-- Creamos dos rows con ambos componentes, blindeando la lista de tareas -->
    <div class="row"><app-formulario-tarea [tareas] = "tareas"></app-formulario-tarea></div>
    <div class="row"><app-lista-tareas [tareas] = "tareas"></app-lista-tareas></div>
  </div>
</div>
